<h1>Gestion des administrateurs</h1>
<ul>
  <% for admin in @users %>
      <li><%= link_to "[X]" ,admin, :method => :delete, :confirm => "You sure?",
              :title => "Delete #{admin.name}" %>

        <%= h(admin.name) %>
      </li>
  <% end %>
</ul>

<%= link_to "Retour à l'administration", :controller => 'sessions', :action => 'index' %>