body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  font: 0.8em "Trebuchet MS", helvetica, sans-serif;
  line-height: 18px;
  background-color: white;
  margin: 0px;
}

.menu li { float :left ; }

.menu li a {
  display:block;
  color:#fff;
  font-size:13px;
  font-weight:bold;
  text-decoration:none;
  font-family:verdana, arial, helvetica, sans-serif;
  text-align:center;
  margin-top:8px;
  padding:6px 10px 6px 10px;
  border-right: 10px solid #4c4c4c;
  border-left: 10px solid #4c4c4c;
  cursor:pointer;
}

.menu {
  list-style:none;
  border-top:#65bb01 solid 5px;
  background-color:#4c4c4c;
  width:100%; height:45px;
  margin:0px;
}

.menu li a:hover {
  background-color:#636363;
}

.menu li.current a {
  background-color:#65bb01;
}

#header {
  height: 80px;
}

#user-log {
  color: black;
  margin: 50px;
  margin-top: 30px;
  float: right;
  text-align: right;
}

#user-log a {
  color: white;
}

#header-title {
  float: left;
  margin: 0px;
  padding: 30px;
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  height: 23px;
}

