<br />

<p>Légende :</p>
<p>
  <%= image_tag("editer.png") %> : Editer &nbsp&nbsp&nbsp
  <%= image_tag("horsligne.png") %> : Hors-ligne &nbsp&nbsp&nbsp
  <%= image_tag("enligne.png") %> : En ligne &nbsp&nbsp&nbsp
  <%= image_tag("publier.png") %> : Publier ou passer hors-ligne &nbsp&nbsp&nbsp
</p>
<br />