<ul id="menu_vertical">
	<li><titre><%= (t :year) %></titre></li>
	<% @annees.each do |annee| %>
        <li><%= link_to annee.year, :controller => 'projects', :annee_id => annee %></li>
	<% end %>
</ul>	