<div id="page">
  <p>Projects > Luminance HDR</p>
  <div class="main-content-left">
    <div class="row">

      <section class="card special">

        <div class="potm">Luminance HDR</div>

        <section class="project-icon">
          <img alt="Luminance HDR Icon" src="http://ocdevel.com/sites/ocdevel.com/files/images/rails.png" height="48" width="48"/>
        </section>
        <section class="project-info">
          <header>
            <h3>Developpers : <a href="http://0.0.0.0:3000/users/5" title="Dupont">Dupont</a>, <a href="http://0.0.0.0:3000/users/4" title="Bob">Bob</a></h3>
          </header>
          <br/>
          <div id=slogan>
            Complete solution for HDR photography
          </div>
          <br/>
          <a href="http://www.google.fr" title="Luminance HDR">Luminance HDR Web Site</a>
        </section>

        <section class="best-release">
          <div class="sfdl" ></div>
        </section>
      </section>
    </div>

    <div class="row">

      <section class="card special">
        <section class="project-info">
          <header>
            <h3>Description</h3>
          </header>
          <p>
            Luminance HDR is a complete suite for HDR imaging workflow. It provides a wide range of functionalities, both
            during the fusion and the tonemapping stage. Its graphical user interface, based on Qt4, runs on a multitude
            of platform, like Microsoft Windows (32 and 64 bit), Mac OS X 10.6 and above and several Linux distribution.

            Input images can be supplied in multiple formats, from JPEG to RAW files. In the same way, output can be saved in many different formats as well, from JPEG to TIFF (both 8 bit and 16 bit per channel), enabling all the power of your post processing tools.
          </p>
        </section>
      </section>
    </div>

    <div class="row">

      <section class="card special">
        <section class="project-info">
          <header>
            <h3>Features</h3>
          </header>
          <p>
          <ul>
            <li>High Dynamic Range Imaging</li>
            <li>Merge multiple pictures together to create an HDRi</li>
            <li>Multiple tonemap operators</li>
            <li>Reads RAW files</li>
            <li>16bit/channel output to exploit a wide range of post processing techniques </li>
          </ul>
          </p>
        </section>
      </section>
    </div>
  </div>
</div>

