<div class="main-content-right">
  <div class="row">

    <section class="card special">

      <div class="potm">List of projects</div>

      <section class="project-icon">
        <img alt="Luminance HDR Icon" src="http://ocdevel.com/sites/ocdevel.com/files/images/rails.png" height="48" width="48"/>
      </section>
      <section class="project-info">
        <header>
          <h3><a href="/projects/qtpfsgui/" title="Project Hello world">Project Hellow World</a></h3>
        </header>
        <p>
          Luminance HDR is a complete suite for HDR imaging workflow. It provides a wide range of functionalities, both
          during the fusion and the tonemapping stage. Its graphical user interface, based on Qt4, runs on a multitude
          of platform, like Microsoft Windows (32 and 64 bit), Mac OS X 10.6 and above and
          <a href="/projects/qtpfsgui/" title="Read more.">Read more.</a>
        </p>
      </section>

      <section class="best-release">

        <div class="sfdl" ></div>
      </section>
    </section>
  </div>

  <div class="row">

    <section class="card special">

      <section class="project-icon">
        <img alt="Luminance HDR Icon" src="http://ocdevel.com/sites/ocdevel.com/files/images/rails.png" height="48" width="48"/>
      </section>
      <section class="project-info">
        <header>
          <h3><a href="/projects/qtpfsgui/" title="Project Hello world">Project Hellow World</a></h3>
        </header>
        <p>
          Luminance HDR is a complete suite for HDR imaging workflow. It provides a wide range of functionalities, both
          during the fusion and the tonemapping stage. Its graphical user interface, based on Qt4, runs on a multitude
          of platform, like Microsoft Windows (32 and 64 bit), Mac OS X 10.6 and above and
          <a href="/projects/qtpfsgui/" title="Read more.">Read more.</a>
        </p>
      </section>
      <section class="best-release">

        <div class="sfdl" ></div>
      </section>
    </section>
  </div>
</div>


