<div id="menu4">
    <ul>
        <li><%= link_to 'Description', {:controller => 'projects', :action => :description}, :class => selected_class('projects') %></li>
        <li><%= link_to 'Files', {:controller => 'projects', :action => :files}, :class => selected_class('projects') %></li>
        <li><%= link_to 'Additional Details', {:controller => 'projects', :action => :additionalDetails}, :class => selected_class('projects') %></li>
        <li><%= link_to 'Bugs', {:controller => 'projects', :action => :bugs}, :class => selected_class('projects') %></li>
    </ul>
</div>