<p style="color: green"></p>

<h1>Bugzilla</h1>
<p> Below are the two links to the siteScrum bugzilla page.</p>
<p> For all the bugs reported till date for siteScrum, click <a href="http://www.gel.usherbrooke.ca/exit/bugzilla/buglist.cgi?content=&product=scrum%20project&query_format=specific&order=bug_id&query_based_on=">here</a>. </p>
<p> For all the bugs reported for siteScrum that are not yet resolved, click <a href="http://www.gel.usherbrooke.ca/exit/bugzilla/buglist.cgi?product=scrum%20project&component=rails%20project%20development&resolution=---">here</a>. </p>

<p> To report, send <a href="mailto:Ruben.Gonzalez-Rubio@USherbrooke.ca, Balkrishna.Sharma.Gukhool@USherbrooke.ca">us</a> an email with a clear description of the bug or error you have encoutered. If required, please attach a screenshot of the error page.</p>

