<div id="header">
  <p id="header-title">
    eXit's projects
  </p>
  <div id="user-log">

    <form action="/sitescrum/logins/login" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="D0Ji9AhWWGuqELlHZ98DXwvTKbUBnN1KSLLtDrv/JgA=" /></div>
      <div>
        <label for="nuser_cip">Username:</label>
        <input id="ndeveloper_cip" name="ndeveloper[cip]" size="10" type="text" />
        <label for="ndeveloper_password">Password:</label>
        <input id="ndeveloper_password" name="ndeveloper[password]" size="10" type="password" />
        <input class="button" name="commit" type="submit" value="Login" />
      </div>
    </form>

  </div>
</div>



 <ul class="menu">
  <li class="current"><a href="#">Welcome</a></li>
  <li><a href="#">Projects</a></li>
  <li><a href="#">Contact us</a></li>
</ul>

<p> Ceci est un test</p>