<%= title(t :titre_act_peda) %>
<h1> <%= (t :titre_act_peda) %> </h1>

<a href="http://www.usherbrooke.ca/fiches-cours/gen701"> <%= (t :lien1) %> </a>
  <br/>
<a href="http://www.usherbrooke.ca/fiches-cours/gen801"> <%= (t :lien2) %>  </a>
<br/> <br/>