<h1> Activité pédagogique de génie électrique et informatique </h1>

<a href="http://www.usherbrooke.ca/fiches-cours/gen701"> Projet de conception spécialisé I </a>
  <br/>
<a href="http://www.usherbrooke.ca/fiches-cours/gen801"> Projet de conception spécialisé II  </a>
<br/> <br/>