<%= title(t :title_course) %>
<h1> <%= (t :title_course) %> </h1>

<a href="http://www.usherbrooke.ca/fiches-cours/gen701"> <%= (t :link1) %> </a>
  <br/>
<a href="http://www.usherbrooke.ca/fiches-cours/gen801"> <%= (t :lien2) %>  </a>
<br/> <br/>