<h1>Format standard d'envoi de la description de votre projet</h1>
<p>Pour que votre projet soit ajouté sur ce site, vous devez envoyer votre description ainsi que les images et pdf par email à l'adresse suivante : .</p>
<p>Il faut tout d'abord rédiger une courte description (quelques lignes seulement) puis une description complète de votre projet que vous pouvez choisir de personnaliser.</p>

<p>Pour cela, plusieurs balises sont à votre disposition :
<li>[b] [/b] : <b>texte en gras</b></li>
<li>[i] [/i] : <i>texte en italique</i></li>
<li>[u] [/u] : <u>texte souligné</u></li>
<li>[size=4] [/size] : <font size="4px">pour changer la taille du texte </font></li>
<li>[color=red] [color] : <font color=red>texte en couleur</font></li>
<li>[url=http://monsite.com] [/url] : <a href="#">texte sous forme de lien</a></li>
<li>[email] [/email] : <a href="#">email@nomdomaine</a></li>
<li>[code] [/code] : <code>texte sous forme de code</code></li>
<li>[quote] [/quote] : <blockquote>texte sous forme de citation</blockquote></li>
</p>
  </br>
<p>Exemple de personnalisation d'une page avec les balises :</p>
<p><i><u>Le projet Exemple</u></i></p>
<p>
<ul>D'abord une [i]brève[/i] description.</ul>
<ul>Puis la une description [b]complète[/b] de votre projet, qui devra comporter les informations le
  concernant. [size=1]Par exemple :[/size] son [color=orange]coût[color], sa [color=green]durée[color] etc...<br/>
Vous pouvez également communiquer votre [url=http://monsiteprojet.com]site du projet[/url] si vous en avez un, ou encore
votre adresse mail : [email]adressemail@nomdomaine[/email].</ul>
</p>

<p>Ce qui donne :</p>
<p><i><u>Le projet Exemple</u></i></p>
<p>
<ul>Une <i>brève</i> description pour présenter succintement votre projet.</ul>
<ul>Une description <b>complète</b> de votre projet, pouvant être organisée en plusieurs paragraphes,qui devra comporter les informations le
  concernant.<font size="1px"> Par exemple :</font> son <font color=orange>coût</font>, sa <font color=green> durée</font> etc...<br/>
  Vous pouvez également communiquer votre <a href="#">site du projet</a> si vous en avez un, ou encore
  votre adresse mail : <a href="#">adressemail@nomdomaine</a></ul>.
</p>
