<h1>Format standard d'envoi de la description de votre projet</h1>
<p>Pour que votre projet soit ajouté sur ce site, vous devez rédiger votre description et l'envoyer par email.</p>
<p>Il faudra tout d'abord rédiger une courte description (quelques lignes seulement) qui présentera succintement votre projet.
  La description complète pourra être organisée en plusieurs paragraphes et comporter des images.</p>

<p>Pour personnaliser votre page, plusieurs balises sont à votre disposition :
<li>[img=nom_de_l_image] : pour placer une image</li>
<li>[b] [/b] : <b>texte en gras</b></li>
<li>[i] [/i] : <i>texte en italique</i></li>
<li>[u] [/u] : <u>texte souligné</u></li>
<li>[size=12] [/size] : modifier la taille de la police</li>
<li>[color=red] [color] : <font color=red>rajoute de la couleur</font></li>
<li>[url=http://monsite.com] [/url] : pour placer un <a href="#">lien</a></li>
<li>[quote] [/quote] : pour placer du code ou une citation dans une encadré</li>
</p>

<p>Voici un exemple de mise en forme d'une page avec les balises :</p>
